/* Estilos generales para el sitio */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Maiden'; /* Choose a name for your font */
    src: url('../fonts/maiden.ttf') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Normal weight */
    font-style: normal; /* Normal style */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-color: #575757ea; /* Color de fondo base */
    color: #ffffff;
}

/* --- ENCABEZADO --- */

header {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* --- IMAGEN DE ENCABEZADO (OPCIONAL) --- */

#Logo {
    margin-top: 2vh;
}

#Logo img {
    width: 65vh;
}

/* --- TITULOS EN ENCABEZADO --- */

#titulo h1 {
    font-size: 2.5vh;
    font-weight: bold;
    color: aquamarine;
    word-wrap: break-all;
    text-align: center;
}

.section-title {
    margin-top: 1vh;
    word-wrap: break-all;
}

.section-titulos {
    margin-top: 1vh;
    word-wrap: break-all;

}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 2vh;
    font-family: 'Maiden', sans-serif;
    font-weight: bold;
    color: white;
    padding: 1vh 2vh;
    text-decoration: none;
    transition-duration: 0.3s; /* Animation */
    width: 100%;
}

.navbar a:hover {
    color: rgb(255, 0, 0); /* Outline color */
    z-index: -1; /* Send the outline behind the text */
    font-size: 2em; /* Match the size */
    text-shadow: 
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 0, 0),
        -1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 0, 0); /* Creates the thick outline */
}

#navbartitle h1 {
    font-size: 2.5vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    word-wrap: break-word;

}

/* --- Estilos para los bloques de contenido en ventana --- */
#main {

    margin: 2vh 10vw;

}

.content-block,
.content-block-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.content-block img,
.content-block-info img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --- REDES SOCIALES ICONS --- */

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    justify-content: center;
    margin-top: 2vh;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.social-icons a img {
    width: 3vh;
    height: 3vh;
    transition-duration: 0.3s;
}

.social-icons img:hover {
    width: 3.5vh;
    height: 3.5vh;
}

/* --- LISTA DE IDIOMAS --- */

.language-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.language-item {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.language-list span {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
    min-width: 8vh;
}

.language-bar {
    width: 100%;
    height: 10px;
    background-color: #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 250px;
}

.language-bar .progress {
    height: 100%;
    background-color: #ff0000;
    border-radius: 20px;
    width: var(--progress-width);
    animation: grow 3s ease-in-out forwards;
    transition: width 0.3s ease;
}

.language-level {
    font-weight: normal;
    color: #ffffff;
    font-size: 1.5em;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: var(--progress-width);
    }
}


/* --- CARRETE DE IMAGENES --- */
/* --- CARRETE DE IMAGENES --- */

#CarouselContainer {
    padding-top: 1.5vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Carousel {
    display: flex;
    gap: 20px; /* Espacio entre imágenes */
    animation: slideAnimation 10s linear infinite;
    transition: transform 0.8s ease;
}

#Carousel .Slide {
    flex: 0 0 auto; /* Cada slide ocupa su tamaño natural */
    display: flex;
    justify-content: center;
    align-items: center;
}

#Carousel .Slide img {
    max-width: 90%; /* Ajusta para que las imágenes no excedan el contenedor */
    max-height: 500px; /* Limita la altura máxima de las imágenes */
    width: auto; /* Escala proporcional */
    height: auto; /* Escala proporcional */
    border: 2px solid #ccc; /* Opcional: Borde para destacar */
    border-radius: 10px; /* Opcional: Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: Sombra para estética */
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250%);
    }
}

#CarouselContainer:hover #Carousel {
    animation-play-state: paused;
}



/* --- BLOQUE DE CONTACTO --- */

#ContactForm {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#ContactForm h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px; 
}

#ContactForm input,
#ContactForm textarea {
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    padding: 0.5vh;
    margin-bottom: 1vh;
}

#ContactForm input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 0.5vh 2vh;
}

#ContactForm input[type="submit"]:hover {
    background-color: #989797;
}

/* --- ESTILOS PARA LAS IMAGENES --- */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* --- PIE DE PAGINA --- */

#Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh 0;
    background-color: #0b4246;
    color: white;
    font-size: 1.5vh;
}

.container-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 1vh;
}

.image {
    object-fit: contain;
    padding: 0.2vw;
}

.text {
    display: flex;
    flex-direction: column;
    word-wrap: break-all;
    width: 80%;
    text-align: justify;
}

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    margin-bottom: 4vh;
}

@media (max-width: 425px) {
    .about-section {
        flex-direction: column;
    }
}

h2 {
    border-bottom: 0.4vh solid #ff0000;
    display: inline-block;
    margin-bottom: 2vh;
}
