/* Estilos generales para el sitio */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* --- ENCABEZADO --- */

header {
    background-color: #0b4246;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* --- IMAGEN DE ENCABEZADO (OPCIONAL) --- */

#Logo {
    margin-bottom: 1vh;
}

#Logo img {
    width: 9vh;
}

/* --- TITULOS EN ENCABEZADO --- */

#titulo h1 {
    font-size: 2.5vh;
    font-weight: bold;
    color: aquamarine;
    word-wrap: break-all;
    text-align: center;
}

.section-title {
    margin-top: 1vh;
    word-wrap: break-all;
}

.section-titulos {
    margin-top: 1vh;
    word-wrap: break-all;

}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 2vh;
    color: white;
    padding: 1vh 2vh;
    text-decoration: none;
    transition-duration: 0.3s; /* Animation */
    width: 100%;
}

.navbar a:hover {
    color: aquamarine;
    font-size: 2.5vh;
    font-weight: bold;
}

#navbartitle h1 {
    font-size: 2.5vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    word-wrap: break-word;

}

/* Botones */

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* --- Estilos para los bloques de contenido en ventana --- */
#main {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.content-block {
    display: flex;
    width: 100%;
}

.content-block img {
    flex: 1;
    max-width: 250px; /* --- Para cambiar de tamaño su imagen de perfil, modifique este parametro --8 */
    margin-left: 40px; 
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes */
img {
    max-width: 100%; /* Nunca será más grande que su contenedor */
    height: auto; /* Mantiene la proporción */
    display: block; /* Elimina espacios blancos alrededor de la imagen */
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}